<div class="py-5 space-y-8">
  <h2 class="text-2xl font-bold text-gray-800 mb-4">Pigeons Perdus</h2>

  <div class="space-y-12">
    <div>
      <div
        *ngIf="filteredPigeons.length > 0; else noPigeons"
        class="flex justify-start items-center flex-wrap gap-9"
      >
        <div
          *ngFor="let pigeon of filteredPigeons"
          class="relative bg-gray-800 w-[210px] rounded-xl shadow-xl overflow-hidden group transition-transform duration-300"
        >
          <input type="hidden" name="pigeonId" [value]="pigeon.id" />
          <div class="relative aspect-square overflow-hidden">
            <img
              [src]="pigeon.photoUrl || image"
              alt="Pigeon"
              class="w-full h-full object-cover transition-all duration-500 group-hover:scale-105"
            />
            <div
              class="absolute bottom-0 left-0 right-0 text-center py-2 opacity-0 group-hover:opacity-100 transition-opacity duration-300 backdrop-blur-lg z-10 border-t border-blue-400/30"
            >
              <button
                (click)="openDetail(pigeon)"
                class="text-gray-800 text-sm font-medium hover:underline"
              >
                Voir détails
              </button>
            </div>
          </div>
          <button
            class="absolute top-3 left-2 p-1.5 backdrop-blur-sm rounded-full transition-all duration-300"
            [ngClass]="{
              'bg-white/20 text-gray-800': !pigeon.estFavori,
              'bg-gray-700 text-yellow-400 bg-opacity-80': pigeon.estFavori
            }"
          >
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M12 2l2.4 7.2h7.6l-6 4.8 2.4 7.2-6-4.8-6 4.8 2.4-7.2-6-4.8h7.6z"
              />
            </svg>
          </button>
          <div
            class="p-2 bg-gradient-to-b from-gray-900/30 to-gray-900/80 backdrop-blur-sm"
          >
            <div class="flex justify-between items-center">
              <span class="text-sm font-medium text-white"
                >Série:
                <span class="text-blue-500">{{ pigeon.serieBague }}</span></span
              >
              <svg
                *ngIf="pigeon.sexe === 'FEMELLE'"
                class="w-4 h-4 text-pink-400"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8M3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5"
                />
              </svg>
              <svg
                *ngIf="pigeon.sexe === 'MALE'"
                class="w-4 h-4 text-blue-400"
                fill="currentColor"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      [isLastPage]="isLastPage"
      (pageChange)="onPageChange($event)"
    ></app-pagination>

    <ng-template #noPigeons>
      <div class="text-center text-gray-600 text-lg py-10">
        <svg
          class="w-14 h-14 mx-auto mb-4 text-gray-400"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"
          />
        </svg>
        Aucun pigeon perdu.
      </div>
    </ng-template>
  </div>

  <app-pigeon-detail-modal
    [showModal]="showDetailModal"
    [pigeon]="selectedPigeon"
    [defaultImage]="image"
    (closeModal)="closeDetail()"
  ></app-pigeon-detail-modal>
</div>
