<app-sidebar></app-sidebar>
<div class="ml-70 bg-[#f5f5f5] flex justify-center items-center min-h-screen">
  <div class="bg-white min-h-screen w-10/12 shadow-sm">
    <div class="relative">
      <img [src]="bg" alt="bg" class="w-full h-40 object-cover brightness-50" />
      <div class="absolute inset-0 flex items-center justify-center bg-black/10">
        <h1 class="text-white text-5xl font-bold drop-shadow-lg font-['Poppins']">Gestion Marketplace</h1>
      </div>
    </div>

    <div class="px-8 py-6 space-y-8">
      <!-- Statistiques rapides -->

    </div>
  </div>
</div>