<div *ngIf="currentUser; else noUser">
    <h1>Bienvenue, {{ currentUser.email }}</h1>
    <p>Ville : {{ currentUser.ville }}</p>
    <p>Téléphone : {{ currentUser.telephone }}</p>

  
    <!-- Champs spécifiques à Colombophile -->
    <div *ngIf="currentUser.nomComplet">
      <p>Nom complet : {{ currentUser.nomComplet }}</p>
      <p *ngIf="currentUser.niveauExperience">Niveau d'expérience : {{ currentUser.niveauExperience }}</p>
      <p *ngIf="currentUser.dateNaissance">Date de naissance : {{ currentUser.dateNaissance }}</p>
    </div>
  </div>
  
  <ng-template #noUser>
    <p>Aucun utilisateur connecté.</p>
  </ng-template>