<app-sidebar></app-sidebar>
<div class="ml-70 bg-[#dddddd] flex justify-center items-center min-h-screen">
    <div class="bg-[#F8F8F8] min-h-screen w-10/12">
        <!-- Image avec effet sombre -->
        <div class="relative">
            <img [attr.src]="bg" alt="bg" class="w-full h-72 object-cover brightness-50" />
            <!-- Vous pouvez ajouter du texte ou d'autres éléments par-dessus l'image si nécessaire -->
            <div class="absolute inset-0 flex items-center justify-center">
                <h1 class="text-white text-5xl font-bold">Gestion Competition</h1>
            </div>
        </div>
    </div>
</div>