/* Animation subtile pour les boutons */
button {
    transition: all 0.3s ease-in-out;
  }
  
  button:disabled svg {
    stroke: #a0aec0; /* Couleur grise pour les flèches désactivées */
  }
  
  /* Effet de survol pour les numéros de page */
  .group:hover .shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }